<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZHLabelView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B77C9E21CC0F903003921B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B77C9FB1CC0F903003921B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B77CA061CC0F903003921B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
